// - - - - - - - - - - - - - - - - - - - - - - - - -
//  Basic Sidebar component styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

    .component {
        background-color: $lightgray;
        margin-bottom: $paragraph-margin-bottom;
        
        .component__header {
            z-index: 2;
            position: relative;
            background-color: $aside-blue;
            background-image:  linear-gradient($aside-blue,lighten($aside-blue,20%));
            border-radius: rem(0 0 5 5);
            padding: rem(10 10 10 13);
            text-transform: uppercase;
            line-height: rem(20);
            
            @include clearfix();
        }

        .component__header-title {
            float: left;
            margin: 0;
            color: $white;
            font-size: rem(16);
            font-weight: $paragraph-font-weight;
            
            a {
                color: $white;
                font-weight: $paragraph-font-weight;
                &:hover {
                    color: $white;
                }
            }
            
            svg {
                fill: $white;
                display: inline-block;
                margin-left: rem(-1);
                margin-right: rem(7);
                vertical-align: bottom;
            }

        }
        
        .component__header-link {
            float: right;
            display: block;
            color: $white;
            font-size: rem(12);
            
            svg { //styles the chevron-right.svg
                height: rem(14);
                width: rem(14);
                position: relative;
                top: rem(3);
                fill: #fff;
                margin-left: rem(2);
            }
            
            &:hover {
                text-decoration:  underline;
            }
        
        }

        
        .component__content {
            
            h3, h4 {
                font-size: rem(15);
                margin-top: 0;
            }
            
            p {
                font-size: rem(13);
            }
        }
        
        .component__content-padding {
            padding: rem(10);
        }
        
        &:first-child {
            margin-top: rem(40); // adds the extra margin for the first component on the page.  Aligns with the headline.
        }
    }